<!-- Button to navigate back to the products page -->
<a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
    <span class="icon">
        <!-- Left arrow icon for navigation -->
        <i class="fas fa-chevron-left"></i>
    </span>
    <span class="text-uppercase">Keep Shopping</span>
</a>

<!-- Button to proceed to the secure checkout page -->
<a aria-label="Checkout button" href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
    <span class="text-uppercase">Secure Checkout</span>
    <span class="icon">
        <!-- Lock icon indicating security -->
        <i class="fas fa-lock"></i>
    </span>
</a>