{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Hero section -->
<div id="hero-section" class="hero-section d-flex align-items-center justify-content-center">
    <div id="hero-text-container" class="text-container text-center p-5">
        <h1 id="hero-title" class="display-4 logo-font text-black">
            Welcome to Cuppa Cake!
        </h1>
        <p id="hero-subtitle" class="lead text-black mt-3">
            Dive into a world where every bite is a delight. Your next sweet treat adventure starts here!
        </p>
        <div class="mt-5">
            <h4>
                <a aria-label="Link to shop now" href="{% url 'products' %}" id="shop-now-button"
                    class="shop-now-button btn btn-lg rounded-pill text-uppercase">Let's
                    Get Baking!</a>
            </h4>
        </div>
    </div>
</div>

<div class="container my-5">
    <!-- 'Discover' heading -->
    <div class="row mb-5">
        <div class="col text-center">
            <hr class="styled-hr mb-4">
            <h2 class="logo-font text-dark">
                Discover all that Cuppa Cake has to offer
            </h2>
            <hr class="styled-hr mt-4">
        </div>
    </div>

    <!-- Content section 1 -->
    <div class="row mb-4">
        <div class="col-md-6 order-md-2 text-center">
            <img src="{% static 'images/line-drawing-peach.webp' %}" class="img-fluid small-image rounded-image"
                alt="Line drawing of a peach">
        </div>
        <div class="col-md-6 order-md-1 my-auto text-center">
            <h3>Pick, Mix & Get Ya Fix</h3>
            <hr class="styled-hr-sm">
            <hr class="styled-hr-xs">
            <p>At Cuppa Cake, we're all about celebrating your 'cup of cake'—whether it's a whimsical cake pop, a yummy
                cupcake, a delightful cuppa (our cake jars), or a grand cake masterpiece. Prepare to indulge in a world
                of flavor, creativity, and pure joy.</p>
        </div>
    </div>

    <!-- Content section 2 -->
    <div class="row mb-4">
        <div class="col-md-6 text-center">
            <img src="{% static 'images/line-drawing-cupcake-blue.webp' %}" class="img-fluid small-image rounded-image"
                alt="Line drawing of a cupcake">
        </div>
        <div class="col-md-6 my-auto text-center">
            <h3>Discover Your Cuppa</h3>
            <hr class="styled-hr-sm" style="background-color: #fc9bbd;">
            <hr class="styled-hr-xs" style="background-color: #fc9bbd;">
            <p>From jars bursting with sweetness to cakes that steal the spotlight, Cuppa Cake has something to satisfy
                every craving. Mix, Match & Munch—because life's too short not to enjoy every bite.</p>
        </div>
    </div>

    <!-- Content section 3 -->
    <div class="row mb-4">
        <div class="col-md-6 order-md-2 text-center">
            <img src="{% static 'images/line-drawing-cake-red.webp' %}" class="img-fluid small-image rounded-image"
                alt="Line drawing of a cake">
        </div>
        <div class="col-md-6 order-md-1 my-auto text-center">
            <h3>Whole Lotta Cakes</h3>
            <hr class="styled-hr-sm">
            <hr class="styled-hr-xs">
            <p>Indulge in our spectacular cakes, perfect for any celebration or just because! Each one is a masterpiece
                designed to dazzle your taste buds and make every moment deliciously unforgettable.</p>
        </div>
    </div>

    <!-- Content section 4 -->
    <div class="row mb-4">
        <div class="col-md-6 text-center">
            <img src="{% static 'images/line-drawing-orange.webp' %}" class="img-fluid small-image rounded-image"
                alt="Line drawing of an orange">
        </div>
        <div class="col-md-6 my-auto text-center">
            <h3>A Cuppa Just for You</h3>
            <hr class="styled-hr-sm" style="background-color: #fc9bbd;">
            <hr class="styled-hr-xs" style="background-color: #fc9bbd;">
            <p>Treat yourself to a personalized cuppa jar, crafted with care and creativity. Our cuppas are not just
                desserts—they're edible art, ready to elevate any occasion with layers of flavor and charm.</p>
        </div>
    </div>

    <!-- Content section 5 -->
    <div class="row mb-4">
        <div class="col-md-6 order-md-2 text-center">
            <img src="{% static 'images/line-drawing-cupcake-yellow.webp' %}"
                class="img-fluid small-image rounded-image" alt="Line drawing of a cupcake">
        </div>
        <div class="col-md-6 order-md-1 my-auto text-center">
            <h3>Cupcake Delights</h3>
            <hr class="styled-hr-sm">
            <hr class="styled-hr-xs">
            <p>Experience the magic of our cupcakes—mini delights that pack a punch of flavor. Whether it's a party or a
                personal treat, our cupcakes are crafted to bring smiles and satisfy sweet cravings.</p>
        </div>
    </div>

    <!-- Content section 6 -->
    <div class="row mb-4">
        <div class="col-md-6 text-center">
            <img src="{% static 'images/line-drawing-strawberry.webp' %}" class="img-fluid small-image rounded-image"
                alt="Line drawing of a strawberry">
        </div>
        <div class="col-md-6 my-auto text-center">
            <h3>Pops of Fun</h3>
            <hr class="styled-hr-sm" style="background-color: #fc9bbd;">
            <hr class="styled-hr-xs" style="background-color: #fc9bbd;">
            <p>Dive into a world of whimsy with our playful cake pops! These bite-sized wonders are designed to bring a
                burst of flavor and joy to every occasion, coated in vibrant colors and topped with playful decorations.
            </p>
        </div>
    </div>

    <!-- Content section 7 -->
    <div class="row mb-4">
        <div class="col-md-6 order-md-2 text-center">
            <img src="{% static 'images/line-drawing-cupcake-orange.webp' %}"
                class="img-fluid small-image rounded-image" alt="Line drawing of a cupcake">
        </div>
        <div class="col-md-6 order-md-1 my-auto text-center">
            <h3>Cuppa Classics</h3>
            <hr class="styled-hr-sm">
            <hr class="styled-hr-xs">
            <p>Explore our expertly crafted, ready-to-enjoy cakes, jars, cupcakes, and cake pops. Each one blends
                classic flavors with innovative twists, offering instant delight in every bite.</p>
        </div>
    </div>

    <!-- Content section 8 -->
    <div class="row mb-4">
        <div class="col-md-6 text-center">
            <img src="{% static 'images/line-drawing-cake-yellow.webp' %}" class="img-fluid small-image rounded-image"
                alt="Line drawing of a cake">
        </div>
        <div class="col-md-6 my-auto text-center">
            <h3>Craft Ya Cuppa</h3>
            <hr class="styled-hr-sm" style="background-color: #fc9bbd;">
            <hr class="styled-hr-xs" style="background-color: #fc9bbd;">
            <p>Unleash your inner dessert artist with Craft Ya Cuppa! Customize your dream bake with a variety of bases,
                frostings, and toppings. It's all about your taste and imagination—crafted to perfection using our
                delectable foundation.</p>
        </div>
    </div>

    <!-- Content section 9 -->
    <div class="row mb-4">
        <div class="col-md-6 order-md-2 text-center">
            <img src="{% static 'images/line-drawing-lime.webp' %}" class="img-fluid small-image rounded-image"
                alt="Line drawing of a lime">
        </div>
        <div class="col-md-6 order-md-1 my-auto text-center">
            <h3>Our Commitment</h3>
            <hr class="styled-hr-sm">
            <hr class="styled-hr-xs">
            <p>We are dedicated to using high-quality, fresh ingredients in every creation. Our eco-friendly, reusable
                jars not only keep your treats fresh but also contribute to a sustainable future.</p>
        </div>
    </div>

    <!-- Content section 10 -->
    <div class="row mb-4">
        <div class="col-md-6 text-center">
            <img src="{% static 'images/line-drawing-cupcake-pink.webp' %}" class="img-fluid small-image rounded-image"
                alt="Line drawing of a cupcake">
        </div>
        <div class="col-md-6 my-auto text-center">
            <h3>Join the Cuppa Cake Community</h3>
            <hr class="styled-hr-sm" style="background-color: #fc9bbd;">
            <hr class="styled-hr-xs" style="background-color: #fc9bbd;">
            <p>Follow us on social media and become part of our sweet community. Share your creations, get inspired, and
                be the first to savour our latest flavors and exclusive offers.</p>
            <p>Thank you for choosing Cuppa Cake. Get ready to Pick, Mix & Get Ya Fix.</p>
            <p>Come on, let's get ya some!</p>
        </div>
    </div>

    <!-- CTA buttons -->
    <div class="row mb-4" id="cta-buttons-row">
        <div class="col text-center">
            <a id="get-in-touch-button" aria-label="Link to contact page" href="{% url 'contact' %}"
                class="btn btn-lg rounded-pill">
                Get in Touch
            </a>
            <a id="our-bakes-button" aria-label="Link to products page" href="{% url 'products' %}"
                class="btn btn-lg rounded-pill">
                Our Bakes
            </a>
        </div>
    </div>

</div>
{% endblock %}
