<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a aria-label="Link to home page" class="logo-font font-weight-bold nav-link text-black text-center" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <!-- All bakes menu -->
        <li class="nav-item dropdown">
            <a aria-label="Link to all bakes" class="logo-font font-weight-bold nav-link btn custom-btn text-center" href="#" id="all-bakes-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Bakes
            </a>
            <!-- Dropdown with further links / options-->
            <div class="dropdown-menu border-0" aria-labelledby="all-bakes-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" aria-label="Sort all bakes by price" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" aria-label="Sort all bakes by rating" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" aria-label="Sort all bakes by category" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" aria-label="link to all bakes" class="dropdown-item">All Bakes</a>
            </div>
        </li>

        <!-- Whole lotta cakes menu -->
        <li class="nav-item dropdown">
            <a aria-label="Link to whole lotta cakes" class="logo-font font-weight-bold nav-link text-black custom-btn text-center" href="#"
                id="whole-lotta-cakes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Whole Lotta Cakes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="whole-lotta-cakes-link">
                <a href="{% url 'products' %}?category=cakes&flavour=choco_delights" aria-label="filter by chocolate cakes" class="dropdown-item">Choco
                    Delights</a>
                <a href="{% url 'products' %}?category=cakes&flavour=fruity_bliss" aria-label="filter by fruity cakes" class="dropdown-item">Fruity
                    Bliss</a>
                <a href="{% url 'products' %}?category=cakes&flavour=nutty_and_spiced" aria-label="filter by nutty and spiced cakes" class="dropdown-item">Nutty &
                    Spiced</a>
                <a href="{% url 'products' %}?category=cakes&flavour=whimsical_treats" aria-label="filter by whimsical cakes" class="dropdown-item">Whimsical
                    Treats</a>
                <a href="{% url 'products' %}?category=cakes" aria-label="Link to all cakes" class="dropdown-item">All Cakes</a>
            </div>
        </li>

        <!-- Cake jars menu -->
        <li class="nav-item dropdown">
            <a aria-label="Open Cake Jar dropdown" class="logo-font font-weight-bold nav-link text-black custom-btn text-center" href="#" id="cake-jars-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cake Jars
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cake-jars-link">
                <a href="{% url 'products' %}?category=cake_jars&flavour=choco_delights" aria-label="filter by chocolate cake jars" class="dropdown-item">Choco
                    Delights</a>
                <a href="{% url 'products' %}?category=cake_jars&flavour=fruity_bliss" aria-label="filter by fruity cake jars" class="dropdown-item">Fruity
                    Bliss</a>
                <a href="{% url 'products' %}?category=cake_jars&flavour=nutty_and_spiced" aria-label="filter by nutty and spiced cake jars" class="dropdown-item">Nutty &
                    Spiced</a>
                <a href="{% url 'products' %}?category=cake_jars&flavour=whimsical_treats"
                    aria-label="filter by whimsical cake jars" class="dropdown-item">Whimsical Treats</a>
                <a href="{% url 'products' %}?category=cake_jars" aria-label="Link to all cake jars" class="dropdown-item">All Cake Jars</a>
            </div>
        </li>

        <!-- Cupcakes menu -->
        <li class="nav-item dropdown">
            <a aria-label="Open Cupcakes dropdown" class="logo-font font-weight-bold nav-link text-black btn text-center" href="#" id="cupcakes-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cupcakes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cupcakes-link">
                <a href="{% url 'products' %}?category=cupcakes&flavour=choco_delights" aria-label="filter by chocolate cupcakes"class="dropdown-item">Choco
                    Delights</a>
                <a href="{% url 'products' %}?category=cupcakes&flavour=fruity_bliss" aria-label="filter by fruity cupcakes"class="dropdown-item">Fruity
                    Bliss</a>
                <a href="{% url 'products' %}?category=cupcakes&flavour=nutty_and_spiced" aria-label="filter by nutty and spiced cupcakes"class="dropdown-item">Nutty &
                    Spiced</a>
                <a href="{% url 'products' %}?category=cupcakes&flavour=whimsical_treats"
                    aria-label="filter by whimsical cupcakes" class="dropdown-item">Whimsical Treats</a>
                <a href="{% url 'products' %}?category=cupcakes" aria-label="Link to all cupcakes" class="dropdown-item">All Cupcakes</a>
            </div>
        </li>

        <!-- Cake pop menu -->
        <li class="nav-item dropdown">
            <a aria-label="Open Cake Pops dropdown" class="logo-font font-weight-bold nav-link text-black text-center" href="#" id="cake-pops-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cake Pops
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cake-pops-link">
                <a href="{% url 'products' %}?category=cake_pops&flavour=choco_delights" aria-label="filter by chocolate cake pops"class="dropdown-item">Choco
                    Delights</a>
                <a href="{% url 'products' %}?category=cake_pops&flavour=fruity_bliss" aria-label="filter by fruity cake pops"class="dropdown-item">Fruity
                    Bliss</a>
                <a href="{% url 'products' %}?category=cake_pops&flavour=nutty_and_spiced" aria-label="filter by nutty and spiced cake pops" class="dropdown-item">Nutty &
                    Spiced</a>
                <a href="{% url 'products' %}?category=cake_pops&flavour=whimsical_treats"
                aria-label="filter by whimsical cake pops" class="dropdown-item">Whimsical Treats</a>
                <a href="{% url 'products' %}?category=cake_pops" aria-label="Link to all cake pops" class="dropdown-item">All Cake Pops</a>
            </div>
        </li>
    </ul>
</div>