<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- All bakes menu -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 btn custom-btn" href="#" id="all-bakes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Bakes
            </a>
            <!-- Dropdown with further links / options-->
            <div class="dropdown-menu border-0" aria-labelledby="all-bakes-link">
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item">All Bakes</a>
            </div>
        </li>

        <!-- Whole lotta cakes menu -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 btn custom-btn" href="#" id="whole-lotta-cakes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Whole Lotta Cakes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="whole-lotta-cakes-link">
                <a href="" class="dropdown-item">Choco Delights</a> 
                <a href="" class="dropdown-item">Fruity Bliss</a>
                <a href="" class="dropdown-item">Nutty & Spiced</a>
                <a href="" class="dropdown-item">Whimsical Treats</a>
                <a href="" class="dropdown-item">All Cakes</a>
            </div>
        </li>

        <!-- Cake jars menu -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 btn custom-btn" href="#" id="cake-jars-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cake Jars
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cake-jars-link">
                <a href="" class="dropdown-item">Choco Delights</a> 
                <a href="" class="dropdown-item">Fruity Bliss</a>
                <a href="" class="dropdown-item">Nutty & Spiced</a>
                <a href="" class="dropdown-item">Whimsical Treats</a>
                <a href="" class="dropdown-item">All Cake Jars</a>
            </div>
        </li>

        <!-- Cupcakes menu -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black btn custom-btn" href="#" id="cupcakes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cupcakes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cupcakes-link">
                <a href="" class="dropdown-item">Choco Delights</a> 
                <a href="" class="dropdown-item">Fruity Bliss</a>
                <a href="" class="dropdown-item">Nutty & Spiced</a>
                <a href="" class="dropdown-item">Whimsical Treats</a>
                <a href="" class="dropdown-item">All Cupcakes</a>
            </div>
        </li>

        <!-- Cake pop menu -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black btn custom-btn" href="#" id="cake-pops-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cake Pops
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cake-pops-link">
                <a href="" class="dropdown-item">Choco Delights</a> 
                <a href="" class="dropdown-item">Fruity Bliss</a>
                <a href="" class="dropdown-item">Nutty & Spiced</a>
                <a href="" class="dropdown-item">Whimsical Treats</a>
                <a href="" class="dropdown-item">All Cake Pops</a>
            </div>
        </li>
    </ul>
</div>